/.coverage
/*.out

bin/
.gopath
.idea/
.tmp/
.docker/
.DS_Store
.vscode
change_log.txt
test_log.txt
build_log.txt

*.pb.go
*.pb.json.go
*.pb.mock.go
*.pb.proxy.go
e2e/ts
!api/authz.pb.go

debug
debug.test
